rlog
check_disk.log
check_running.sh.lck
log
*.bak
*.o
df.txt
disk_list.txt
dmidecode.txt
eglibc_2.10.1-0ubuntu15.diff.gz
eglibc_2.10.1-0ubuntu15.dsc
examples.desktop
fdisk.txt
resolv.conf
rlog
root/
run
setup.sh.1
sharutils_4.6.3-4.diff.gz
sharutils_4.6.3-4.dsc
sharutils_4.6.3.orig.tar.gz
si/
smb.conf
smbusers
sources.list
ubuntu.10.4.64.backup.tar.gz
variables.txt
vmware/
work/
workspace/
diff.txt
apt-mirror.sh.lck
*.orig
core
work.sh.lck
*.lck
output
vitag_file
