rlog
check_disk.log
check_running.sh.lck
log
*.bak
*.o
android.csv
atunes/
bin/
bookmarks.HTML
check_disk.log
core
coreutils_7.4-2ubuntu1.diff.gz
coreutils_7.4-2ubuntu1.dsc
coreutils_7.4.orig.tar.gz
data/
demo
run
sharutils_4.6.3-4.diff.gz
sharutils_4.6.3-4.dsc
sharutils_4.6.3.orig.tar.gz
myproject
coreutils_7.4-2ubuntu1.diff.gz
coreutils_7.4-2ubuntu1.dsc
coreutils_7.4.orig.tar.gz
atunes/
eglibc_2.10.1-0ubuntu15.diff.gz
eglibc_2.10.1-0ubuntu15.dsc
flac-1.2.1/
flac_1.2.1-2build1.diff.gz
flac_1.2.1-2build1.dsc
flac_1.2.1.orig.tar.gz
gcc-defaults-1.82ubuntu2/
gcc-defaults_1.82ubuntu2.dsc
gcc-defaults_1.82ubuntu2.tar.gz
lucene/
lv.txt
disk_list.txt
check_disk.log
rlog
df.txt
disk_list.txt
dmidecode.txt
eglibc_2.10.1-0ubuntu15.diff.gz
eglibc_2.10.1-0ubuntu15.dsc
examples.desktop
fdisk.txt
re2/
index/
variables.txt
workspace/
android.csv
bin/
interfaces
resolv.conf
rlog
root/
run
setup.sh.1
sharutils_4.6.3-4.diff.gz
sharutils_4.6.3-4.dsc
sharutils_4.6.3.orig.tar.gz
si/
smb.conf
smbusers
sources.list
ubuntu.10.4.64.backup.tar.gz
variables.txt
vmware/
work/
workspace/
diff.txt
apt-mirror.sh.lck
