*.bak
*.lck
*.o
*.orig
apt-mirror.sh.lck
check_disk.log
check_running.sh.lck
core
df.txt
diff.txt
disk_list.txt
dmidecode.txt
eglibc_2.10.1-0ubuntu15.diff.gz
eglibc_2.10.1-0ubuntu15.dsc
examples.desktop
fdisk.txt
find.cc
log
output
resolv.conf
result.cc
rlog
rlog
root/
run
setup.sh.1
sharutils_4.6.3-4.diff.gz
sharutils_4.6.3-4.dsc
sharutils_4.6.3.orig.tar.gz
si/
smb.conf
smbusers
sources.list
ubuntu.10.4.64.backup.tar.gz
variables.txt
vitag_file
vmware/
work.sh.lck
work/
workspace/
*.findresult
